body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EEE;
}

h1 {
  font-size: 140%;
}

button, 
input[type="submit"],
a.button{
  background: orange;
  border: 1px solid #333;
  font-size: 20px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 3px;
  transition: border 0.3s, background 0.3s;
  margin-left:5px;
}

a{
  text-decoration:none; 
}

a:visited,a:active {
  color:black;
}

.big {
  border: 2px solid #333;
  font-size: 25px;
  display: block;
  border-radius: 5px;
  font-weight: bold;
  margin: 20px auto;
}

.small {
  font-size:14px;
  margin:0px;
  padding:3px;
}

button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active,
a.button:hover,
a.button:active {
  background: darkorange;
  border: 1px solid black;
}

button.big:hover,
button.big:active {
  background: darkorange;
  border: 2px solid black;
}

a.Link {
  background: orange;
  border: 1px solid #333;
  font-size: 20px;
  padding: 10px;
  border-radius: 3px;
  transition: border 0.3s, background 0.3s;
  margin: 10px;
  text-decoration: none;
}

a.Link:hover,
a.Link:active {
  background: darkorange;
  border: 1px solid black;
}