.UserStatusBar .grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    border-bottom: 3px solid black;
    position: relative;
    margin-top: 3px;
}

.UserStatusBar .grid .name {
  
    text-align: center;
    
}

.UserStatusBar .grid .logout {
    text-align: center;
    margin-bottom:3px;
}