.TextFieldInput {
    margin-bottom: 30px;
}

.TextFieldInput input {
    font-size: 25px;
    width:150px;
}

.TextFieldInput .label {
    font-size: 20px;
}

.TextFieldInput .info {
    margin-top: 5px;
    font-style: italic;
}

.TextFieldInput .error {
    color: red;
}